<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>UsageBar</string>
	<key>CFBundleIdentifier</key>
	<string>com.johnkueh.claude-usage-bar</string>
	<key>CFBundleName</key>
	<string>Usage Bar</string>
	<key>CFBundleDisplayName</key>
	<string>Usage Bar</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>John Kueh</string>
	<key>SUFeedURL</key>
	<string>https://github.com/johnkueh/usage-bar/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>hfHXGRGheU/qNraHb2QHUPe+pdAMmQdC8iU298KyDgo=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
